@model Capstone_EPICODE.Models.User

<h2>Profilo Utente</h2>

<div>
    <h4>Informazioni Utente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<p>
    <a asp-action="MyReservations" asp-controller="Reservation" class="btn btn-primary">Visualizza le mie prenotazioni</a>
</p>
